header{
    height: 100vh;
    color : $textColor;
    background-color: lightblue; 
    color : $textColor;
    button {
        background : $primaryBtn;
        &::after {
            content  :"hiIII"
        }
    }
}