$primaryBtn :rgb(0, 255, 13);
$textColor : black;

header{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    color : $textColor;
    button {
        background : $primaryBtn;
    }
}

header button {
    background :$primaryBtn;
}

.contact button {
    background-color: $primaryBtn;
}